:root {
  --even-width:14.28571vw;
  --card-height:20vh;
  --card-width:calc((var(--card-height))*0.714);
  --container-height:calc(var(--card-height)*1.2);
  --container-width:calc(var(--card-width)*1.2);
  --overlap-down-margin:calc((var(--card-height)*0.8)*-1);
  --overlap-right-margin:calc((var(--card-width)*0.5)*-1);
}

#container, html {
  background: url(/c839b1fc71a5993808a2.jpg);
  background-size: cover;
}

#container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#board {
  display: grid;
  grid-template-rows: 30vh 70vh;
  height: 100%;
  width: 100%;
}

#top-board {
  display: grid;
  grid-template-columns: var(--even-width) calc(var(--even-width) * 2) calc(var(--even-width) * 4);
}

#deck-container, #discard-pile-container, .ace-slot-container {
  align-items: center;
  display: grid;
  justify-content: center;
}

#deck, #discard-pile, .ace-slot {
  border: 1px solid #fff;
}

#deck-container {
  position: relative;
}

#deck {
  display: flex;
}

#shuffle-btn {
  background: transparent;
  background-image: url(/e3cc06872392b8601e3a.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: none;
  height: var(--card-height);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: var(--card-width);
}

#shuffle-btn:hover {
  background-image: url(/b81938690e72c5091274.png);
}

#deck .card, .ace-slot .card {
  position: absolute;
}

#deck .card .card-front {
  display: none;
}

#deck-count {
  background: #fff;
  border-radius: 50%;
  bottom: 34.5%;
  color: blue;
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  justify-content: center;
  left: 50%;
  padding: 1rem;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 2.5rem;
}

#deck, #deck-count {
  cursor: pointer;
}

#discard-pile {
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  height: var(--card-height);
  width: calc(var(--card-width) * 2);
}

#discard-pile .card .card-back {
  display: none;
}

#discard-pile .card:not(:first-child) {
  margin-left: var(--overlap-right-margin);
}

#clubs-ace-slot {
  background: url(/053d5dc5544718f61832.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

#diamonds-ace-slot {
  background: url(/e0452e45745b4c0bfc2f.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

#spades-ace-slot {
  background: url(/3f3c2ed1b6200379334a.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

#hearts-ace-slot {
  background: url(/f195cef2a0d1784e8a1c.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

#ace-slots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#card-slots-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
}

.card-slot-container {
  display: grid;
  justify-content: center;
}

.card-slot .card:not(:first-child) {
  margin-top: var(--overlap-down-margin);
}

#deck, .ace-slot, .card, .card-back, .card-front, .card-slot {
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  height: var(--card-height);
  width: var(--card-width);
}

.hidden-discard {
  display: none;
}

.shake {
  -webkit-animation: shake 0.2s;
  animation: shake 0.2s;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
#modal {
  background-color: #dcdcdc;
  border: 1px solid;
  border-radius: 20%;
  box-shadow: -20px 20px 20px 20px;
  display: none;
  height: 40vh;
  left: 50%;
  overflow: auto;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vh;
  z-index: 1;
}

#modal-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  height: 75%;
  justify-content: space-around;
  margin: auto;
}

.btn {
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

#reset-btn {
  display: none;
  font-size: 2rem;
  left: 50%;
  position: absolute;
  top: 3px;
}

@font-face {
  font-display: swap;
  font-family: roboto;
  font-weight: 200;
  src: url(/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-display: swap;
  font-family: roboto;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-display: swap;
  font-family: roboto;
  font-weight: 700;
  src: url(/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-display: swap;
  font-family: roboto;
  font-weight: 900;
  src: url(/fonts/Roboto-Bold.ttf);
}
* {
  font-family: roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
