:root {
  --even-width: calc(100vw / 7);
  --card-height: calc(100vh / 5);
  --card-width: calc((var(--card-height)) * 0.714);
  --container-height: calc(var(--card-height) * 1.2);
  --container-width: calc(var(--card-width) * 1.2);
  --overlap-down-margin: calc((var(--card-height) * 0.8) * -1);
  --overlap-right-margin: calc((var(--card-width) * 0.5) * -1);
}

/* Main container */
#container {
  background: url('../assets/images/background.jpg');
  background-size: cover;
	display: flex;
	height: 100vh;
	width: 100vw;
}

/* Whole game container */
#board {
  display: grid;
  grid-template-rows: 30vh 70vh;
  height: 100%;
  width: 100%;
}

/* Top section - Deck, Discard, Ace Slots */
#top-board {
  display: grid;
  grid-template-columns: var(--even-width) calc(var(--even-width) * 2) calc(var(--even-width) * 4);
}

.ace-slot-container,
#deck-container,
#discard-pile-container {
  align-items: center;
  display: grid;
  justify-content: center;
}

#deck,
#discard-pile,
.ace-slot {
  border: 1px solid white;
}

#deck-container {
  position: relative;
}

#deck {
  display: flex;
}

#shuffle-btn {
  background: transparent;
  background-image: url('../assets/images/refresh-white.png');
  background-size: contain;
  border: none;
  cursor: pointer;
  display: none;
  height: 7rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
}

#shuffle-btn:hover {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

#deck .card {
  position: absolute;
}

#deck .card .card-front {
  display: none;
}

#deck-count {
  background: #fff;
  border-radius: 50%;
  bottom: 10%;
  color: blue;
  font-size: 2.5rem;
  font-weight: 700;
  left: 50%;
  padding: 1rem;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 2.5rem;
}

#deck,
#deck-count {
  cursor: pointer;
}

#discard-pile {
  border: none;
  display: flex;
  height: var(--card-height);
  width: calc(var(--card-width) * 2);
}

#discard-pile .card .card-back {
  display: none;
}

#discard-pile .card:not(:first-child) {
  margin-left: var(--overlap-right-margin);
}

.ace-slot {
  background: url('../assets/images/ace-background.png');
  background-size: cover;
}

#ace-slots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Bottom section - Card Slots */
#card-slots-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
}

.card-slot-container {
  display: grid;
  justify-content: center;
}

.card-slot .card:not(:first-child) {
  margin-top: var(--overlap-down-margin);
}

/* Cards */
.ace-slot,
.card-slot,
.card,
#deck,
.card-front,
.card-back {
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  height: var(--card-height);
  width: var(--card-width);
}

.hidden-discard {
  display: none;
}
