:root {
  --even-width: calc(100vw / 7);
  --card-height: calc(100vh / 5);
  --card-width: calc((var(--card-height)) * 0.714);
  --container-height: calc(var(--card-height) * 1.2);
  --container-width: calc(var(--card-width) * 1.2);
  --overlap-down-margin: calc((var(--card-height) * 0.8) * -1);
  --overlap-right-margin: calc((var(--card-width) * 0.5) * -1);
}

html {
  background: url('../assets/images/background.jpg');
  background-size: cover;
}

/* Main container */
#container {
  background: url('../assets/images/background.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Whole game container */
#board {
  display: grid;
  grid-template-rows: 30vh 70vh;
  height: 100%;
  width: 100%;
}

/* Top section - Deck, Discard, Ace Slots */
#top-board {
  display: grid;
  grid-template-columns: var(--even-width) calc(var(--even-width) * 2) calc(var(--even-width) * 4);
}

.ace-slot-container,
#deck-container,
#discard-pile-container {
  align-items: center;
  display: grid;
  justify-content: center;
}

#deck,
#discard-pile,
.ace-slot {
  border: 1px solid white;
}

#deck-container {
  position: relative;
}

#deck {
  display: flex;
}

#shuffle-btn {
  background: transparent;
  background-image: url('../assets/images/refresh-white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: none;
  height: var(--card-height);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: var(--card-width);
}

#shuffle-btn:hover {
  background-image: url('../assets/images/refresh-black.png');
}

#deck .card,
.ace-slot .card {
  position: absolute;
}

#deck .card .card-front {
  display: none;
}

#deck-count {
  background: #fff;
  border-radius: 50%;
  bottom: 35%;
  color: blue;
  display: flex;
  font-size: 2vh;
  font-weight: 700;
  justify-content: center;
  left: 50%;
  padding: 1vh;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 2vh;
}

#deck,
#deck-count {
  cursor: pointer;
}

#discard-pile {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  height: var(--card-height);
  width: calc(var(--card-width) * 2);
}

#discard-pile .card .card-back {
  display: none;
}

#discard-pile .card:not(:first-child) {
  margin-left: var(--overlap-right-margin);
}

#clubs-ace-slot {
  background: url('../assets/images/club.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#diamonds-ace-slot {
  background: url('../assets/images/diamond.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#spades-ace-slot {
  background: url('../assets/images/spade.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#hearts-ace-slot {
  background: url('../assets/images/heart.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#ace-slots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Bottom section - Card Slots */
#card-slots-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
}

.card-slot-container {
  display: grid;
  justify-content: center;
}

.card-slot .card:not(:first-child) {
  margin-top: var(--overlap-down-margin);
}

/* Cards */
.ace-slot,
.card-slot,
.card,
#deck,
.card-front,
.card-back {
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  height: var(--card-height);
  width: var(--card-width);
}

.hidden-discard {
  display: none;
}

.shake {
  animation: shake 0.2s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Modal */
#modal {
  background-color: gainsboro;
  border: 1px solid;
  border-radius: 20%;
  box-shadow: -20px 20px 20px 20px;
  display: none;
  height: 40vh;
  left: 50%;
  overflow: auto;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vh;
  z-index: 1;
}

#modal-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  height: 75%;
  justify-content: space-around;
  margin: auto;
}

.btn {
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem;
}

.btn:hover {
  background-color: black;
  color: white;
}

#reset-btn {
  display: none;
  font-size: 2rem;
  left: 50%;
  position: absolute;
  top: 3px;
}
